* {
  box-sizing: border-box;
}

ul {
  padding-left: unset;
  margin-left: unset;
}

li {
  margin-bottom: unset;
}

.bloglisting {
  display: grid;
  gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  transition: 0.2s ease;
  margin-bottom: 3rem;
}

.blogpost {
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
}

.blogpost:hover span{
  text-decoration: underline;
}

.blogpost img {
  position: relative;
  aspect-ratio: 1.91 / 1;
  overflow: hidden;
  z-index: 0;
  border-radius: 0.66rem;
  flex-shrink: 0;
  box-shadow: 0 30px 70px -50px rgba(0, 0, 40, 0.3);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  margin-bottom: 1rem;
}

.blogpost img:hover {
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
}
.blogarticle {
  width: 900vh;
  background-color: red;
}

.blogtitle{
  color: black;
  font-size: 1.3rem;
  font-weight: 650;
  max-width: 90%;
  line-height: 1.5;
  text-decoration: none;
  padding-top: 1rem;
}

.blogauthor{
  color:hsl(212, 100%, 42%);
  margin-left: .5rem; 
 }

