.bloglisting {
  display: grid;
  gap: 1.5rem;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  transition: 0.2s ease;
  margin-bottom: 4rem;
}

.blogpost {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  list-style: none;
}

.blogpost img {
  display: block;
  /* width: 100%; */
  object-fit: cover;
  object-position: center;
  /* opacity: 0; */
  filter: brightness(0.98);
  transition: 0.4s ease;
}

.blogarticle {
  width: 900vh;
  background-color: red;
}